.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background: rgba(51, 51, 51, 0.5); /* Partial transparency */
  border-radius: 15px; /* Increase the border-radius for more rounded edges */
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  border: 1px solid #fff;
  width: 25em;
  height: 20em;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin-top: auto;
  margin-bottom: auto;
}

.form p {
  color: #fff;
  font-weight: bolder;
  text-align: center;
}

.inp {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.row {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.input {
  color: black;
  height: 2em;
  width: 2em;
  text-align: center;
  background: #00000000;
  outline: none;
  border: 1px #fff solid;
  border-radius: 5px;
  transition: all 0.6s ease;
  font-size: larger;
}

/* Maintain size without shrinking */
.input:focus {
  outline: none;
  border: 1px #fff solid;
}

.input:not(:placeholder-shown) {
  background-color: #fff; /* Change background color without shrinking */
  /* Remove width and height adjustments to prevent shrinking */
}

/* Ensure consistent size */
.input {
  min-width: 2em;  /* Prevent shrinking by setting a minimum width */
  min-height: 2em; /* Prevent shrinking by setting a minimum height */
}

.form button {
  margin-left: auto;
  margin-right: auto;
  background: #fff; /* Change button background color to white */
  color: black; /* Change button text color to black */
  padding: 0.5em 2em;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease; /* Transition for hover effect */
}

/* Change button color on hover */
.form button:hover {
  background: rgba(0, 0, 0, 0.1);
}

/* Add the CSS animation */
@keyframes buttonClick {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(1);
  }
}

.button-click-animation {
  animation: buttonClick 0.2s ease-in-out;
}